
@{
    ViewData["Title"] = "Highlight Name";
}

<h1>@ViewData["Title"]</h1>
<div><span>Rama</span> killed <span>Ravana</span></div>
<style>
    div {
    }

    div span {
        background-color: yellow;
    }
</style>
