@{
    ViewData["Title"] = "Correct Usage Of Try...Catch In Ajax";
}
<h1>@ViewData["Title"]</h1>
<div id="error"></div>
<button onclick="CorrectTryCatch();" class="btn btn-secondary">Click this button to Get Products or to throw Error</button>
@section Scripts {
    <script src="~/js/ajax-common.js"></script>
    <script src="~/js/CorrectUsageOfTryCatchInAjax.js"></script>
}
