@{
    ViewData["Title"] = "Get Data and Post Data Using Ajax";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h2>Id: <span id="studentId"></span></h2>
    <h2>Name: <span id="studentName"></span></h2>
    <h2>Email: <span id="studentEmail"></span></h2>
</div>
<button type="button" onclick="Button_Click()">Click Me</button>
@section Scripts {
    <script src="~/js/get_and_post_data_using_ajax_scripts.js"></script>
}
