@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">@Html.ActionLink("Retrieve data using jQuery and Promises", "RetrieveDataUsingJQueryAndPromises", "Home")</div>
<div class="row">@Html.ActionLink("Get a Product Details using jQuery and Promises", "GetAProductDetailsUsingJQueryAndPromises", "Home")</div>
<div class="row">@Html.ActionLink("Insert Product Using jQuery and Promises", "InsertProductUsingJQueryAndPromises", "Home")</div>
