@{
    ViewData["Title"] = "Which Button is Pressed";
}
<h2>@ViewData["Title"]</h2>
<button data-name="button1">Button1</button>
<button data-name="button2">Button2</button>
<button data-name="button3">Button3</button>
@section Scripts {
    <script src="~/js/which_button_pressed_scripts.js"></script>
}
